.form {
  &__row {
    margin-bottom: 0.4rem;

    &--plus {
      margin: 2.4rem 0 2rem;
    }
  }

  &__title {
    margin-bottom: 18px;
    font-weight: 500;
    font-size: 2.4rem;
    line-height: 33px;
    color: #323232;
  }

  &__checkbox {
    display: inline-flex;
    color: #323232;
  }

  &__recover {
    font-weight: 500;
    font-size: 2rem;
  }

  &__action {
    margin-top: 36px;
    display: flex;
    flex-direction: column;
    gap: 4px;
  }
}
