.demo {
  border-radius: 10px;
  overflow: hidden;
  background: #f0f4fc;

  &__wrapper {
    @media screen and (min-width: 769px) {
      display: flex;
      justify-content: space-between;
    }
  }

  &__left {
    padding: 14px 14px 18px;

    @media screen and (min-width: 360px) {
      padding: 24px 24px 18px;
    }

    @media screen and (min-width: 760px) {
      padding: 24px;
    }

    @media screen and (min-width: 769px) {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 50%;
      flex-shrink: 0;
    }

    @media screen and (min-width: 1360px) {
      max-width: 682px;
      padding: 24px 72px;
    }
  }

  &__header {
    margin-bottom: 14px;

    @media screen and (min-width: 760px) {
      margin-bottom: 18px;
    }
  }

  &__title {
    font-weight: 500;
    font-size: 1.7rem;
    line-height: 27px;
    color: #1f4284;

    @media screen and (min-width: 760px) {
      font-size: 2rem;
      line-height: 32px;
    }

    @media screen and (min-width: 1200px) {
      font-size: 2.6rem;
      line-height: 42px;
    }

    @media screen and (min-width: 1600px) {
      font-size: 3rem;
      line-height: 48px;
    }
  }

  &__info {
    margin-bottom: 18px;

    @media screen and (min-width: 760px) {
      margin-bottom: 24px;
    }

    @media screen and (min-width: 1360px) {
      margin-bottom: 36px;
    }
  }

  &__btn {
    @media screen and (min-width: 1360px) {
      min-width: 341px;
    }
  }
}
